/**
 * Main CSS Styles for Drim Share Plugin
 *
 */
/***********************************
## MAIN STYLES
***********************************/
@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot?") format("eot"), url("./font/fontello.woff2") format("woff2"), url("./font/fontello.woff") format("woff"), url("./font/fontello.ttf") format("truetype"), url("./font/fontello.svg#fontello") format("svg"); }
.ds_icon.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 20px;
  margin-right: .2em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  font-size: 0.8em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.ds_icon.icon-linkedin-1:before {
  content: '\e800'; }

.ds_icon.icon-wordpress-1:before {
  content: '\e801'; }

.ds_icon.icon-facebook-1:before {
  content: '\e802'; }

.ds_icon.icon-github:before {
  content: '\e803'; }

.ds_icon.icon-pinterest:before {
  content: '\e804'; }

.ds_icon.icon-twitter-1:before {
  content: '\e805'; }

.ds_icon.icon-gplus:before {
  content: '\e806'; }

.ds_icon.icon-linkedin-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }

.ds_icon.icon-wordpress-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }

.ds_icon.icon-facebook-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }

.ds_icon.icon-github {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }

.ds_icon.icon-pinterest {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }

.ds_icon.icon-twitter-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }

.ds_icon.icon-gplus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }

/***********************************
## LAYOUT
***********************************/
.ds_wrapper {
  margin-bottom: 20px;
  display: grid;
  grid-gap: 6px; }
  .ds_wrapper.ds_has_heading {
    grid-template-columns: repeat(6, auto); }
  .ds_wrapper.ds_no_heading {
    grid-template-columns: repeat(5, auto); }
  .ds_wrapper.ds_align_left {
    justify-content: left; }
  .ds_wrapper.ds_align_right {
    justify-content: right; }
  .ds_wrapper.ds_align_center {
    justify-content: center; }
  .ds_wrapper.ds_brdr_top {
    border-top: 1px solid;
    padding-top: 10px;
    border-bottom: 0 none; }
  .ds_wrapper.ds_brdr_bottom {
    border-top: 0 none;
    border-bottom: 1px solid;
    padding-bottom: 10px; }
  .ds_wrapper.ds_brdr_both {
    border-top: 1px solid;
    padding-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px; }
  .ds_wrapper .ds_heading {
    line-height: 2em; }
  .ds_wrapper .ds_bttn {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    transition: all 1s; }
    .ds_wrapper .ds_bttn a {
      text-decoration: none;
      box-shadow: none;
      text-transform: capitalize;
      border-bottom: 0 none;
      display: block;
      width: 100%;
      height: 100%; }
      .ds_wrapper .ds_bttn a:hover {
        text-decoration: none;
        box-shadow: none;
        border-bottom: 0 none; }
      .ds_wrapper .ds_bttn a i {
        font-size: 1em;
        width: auto;
        margin-right: 0; }
  .ds_wrapper.ds_image_v1 .ds_heading {
    line-height: 26px; }
  .ds_wrapper.ds_image_v1 .ds_bttn {
    background-size: cover;
    background-repeat: no-repeat;
    height: 26px;
    width: 70px; }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook.png"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter.png"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin.png"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus.png"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest.png"); }
    .ds_wrapper.ds_image_v1 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v1 .ds_bttn a {
      display: block;
      height: 100%; }
      .ds_wrapper.ds_image_v1 .ds_bttn a i {
        display: none; }
      .ds_wrapper.ds_image_v1 .ds_bttn a span.ds_network_name {
        display: none; }
  .ds_wrapper.ds_image_v2 .ds_heading {
    line-height: 24px; }
  .ds_wrapper.ds_image_v2 .ds_bttn {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v2 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook.svg"); }
    .ds_wrapper.ds_image_v2 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter.svg"); }
    .ds_wrapper.ds_image_v2 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin.svg"); }
    .ds_wrapper.ds_image_v2 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus.svg"); }
    .ds_wrapper.ds_image_v2 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest.svg"); }
    .ds_wrapper.ds_image_v2 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v2 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_image_v3 .ds_heading {
    line-height: 24px; }
  .ds_wrapper.ds_image_v3 .ds_bttn {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v3 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v3 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook_3d.svg"); }
    .ds_wrapper.ds_image_v3 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter_3d.svg"); }
    .ds_wrapper.ds_image_v3 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin_3d.svg"); }
    .ds_wrapper.ds_image_v3 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus_3d.svg"); }
    .ds_wrapper.ds_image_v3 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest_3d.svg"); }
    .ds_wrapper.ds_image_v3 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v3 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_image_v4 .ds_heading {
    line-height: 24px; }
  .ds_wrapper.ds_image_v4 .ds_bttn {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v4 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v4 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook_red.svg"); }
    .ds_wrapper.ds_image_v4 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter_red.svg"); }
    .ds_wrapper.ds_image_v4 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin_red.svg"); }
    .ds_wrapper.ds_image_v4 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus_red.svg"); }
    .ds_wrapper.ds_image_v4 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest_red.svg"); }
    .ds_wrapper.ds_image_v4 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v4 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_image_v5 .ds_heading {
    line-height: 2em; }
  .ds_wrapper.ds_image_v5 .ds_bttn {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v5 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v5 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook_c.svg"); }
    .ds_wrapper.ds_image_v5 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter_c.svg"); }
    .ds_wrapper.ds_image_v5 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin_c.svg"); }
    .ds_wrapper.ds_image_v5 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus_c.svg"); }
    .ds_wrapper.ds_image_v5 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest_c.svg"); }
    .ds_wrapper.ds_image_v5 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v5 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_image_v6 .ds_heading {
    line-height: 2em; }
  .ds_wrapper.ds_image_v6 .ds_bttn {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v6 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v6 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook_s.svg"); }
    .ds_wrapper.ds_image_v6 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter_s.svg"); }
    .ds_wrapper.ds_image_v6 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin_s.svg"); }
    .ds_wrapper.ds_image_v6 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus_s.svg"); }
    .ds_wrapper.ds_image_v6 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest_s.svg"); }
    .ds_wrapper.ds_image_v6 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v6 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_image_v7 .ds_heading {
    line-height: 2em; }
  .ds_wrapper.ds_image_v7 .ds_bttn {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v7 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v7 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook_sheep.svg"); }
    .ds_wrapper.ds_image_v7 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter_sheep.svg"); }
    .ds_wrapper.ds_image_v7 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin_sheep.svg"); }
    .ds_wrapper.ds_image_v7 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus_sheep.svg"); }
    .ds_wrapper.ds_image_v7 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest_sheep.svg"); }
    .ds_wrapper.ds_image_v7 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v7 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_image_v8 .ds_heading {
    line-height: 2em; }
  .ds_wrapper.ds_image_v8 .ds_bttn {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat; }
    .ds_wrapper.ds_image_v8 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_image_v8 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook_cup.png"); }
    .ds_wrapper.ds_image_v8 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter_cup.png"); }
    .ds_wrapper.ds_image_v8 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin_cup.png"); }
    .ds_wrapper.ds_image_v8 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus_cup.png"); }
    .ds_wrapper.ds_image_v8 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest_cup.png"); }
    .ds_wrapper.ds_image_v8 .ds_bttn a i {
      display: none; }
    .ds_wrapper.ds_image_v8 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_icon_v1 .ds_bttn.ds_facebook {
    background-color: #4367b1; }
  .ds_wrapper.ds_icon_v1 .ds_bttn.ds_twitter {
    background-color: #1fa0f3; }
  .ds_wrapper.ds_icon_v1 .ds_bttn.ds_linkedin {
    background-color: #0277b5; }
  .ds_wrapper.ds_icon_v1 .ds_bttn.ds_googleplus {
    background-color: #da4638; }
  .ds_wrapper.ds_icon_v1 .ds_bttn.ds_pinterest {
    background-color: #bd081c; }
  .ds_wrapper.ds_icon_v1 .ds_bttn:hover {
    opacity: 0.8; }
  .ds_wrapper.ds_icon_v1 .ds_bttn a i {
    color: #fff; }
  .ds_wrapper.ds_icon_v1 .ds_bttn a span.ds_network_name {
    display: none; }
  .ds_wrapper.ds_icon_v2 .ds_bttn {
    padding: 0 10px;
    border-radius: 4px;
    width: auto; }
    .ds_wrapper.ds_icon_v2 .ds_bttn.ds_facebook {
      background-color: #4367b1; }
    .ds_wrapper.ds_icon_v2 .ds_bttn.ds_twitter {
      background-color: #1fa0f3; }
    .ds_wrapper.ds_icon_v2 .ds_bttn.ds_linkedin {
      background-color: #0277b5; }
    .ds_wrapper.ds_icon_v2 .ds_bttn.ds_googleplus {
      background-color: #da4638; }
    .ds_wrapper.ds_icon_v2 .ds_bttn.ds_pinterest {
      background-color: #bd081c; }
    .ds_wrapper.ds_icon_v2 .ds_bttn a {
      transition: all 1s; }
      .ds_wrapper.ds_icon_v2 .ds_bttn a i {
        color: #fff;
        width: 30px; }
      .ds_wrapper.ds_icon_v2 .ds_bttn a span.ds_network_name {
        font-size: 0;
        color: #fff;
        transition: all 1s; }
      .ds_wrapper.ds_icon_v2 .ds_bttn a:hover span.ds_network_name {
        font-size: 0.8em; }
  .ds_wrapper.ds_icon_v3 .ds_bttn {
    border-radius: 100%; }
    .ds_wrapper.ds_icon_v3 .ds_bttn.ds_facebook {
      background-color: #4367b1; }
    .ds_wrapper.ds_icon_v3 .ds_bttn.ds_twitter {
      background-color: #1fa0f3; }
    .ds_wrapper.ds_icon_v3 .ds_bttn.ds_linkedin {
      background-color: #0277b5; }
    .ds_wrapper.ds_icon_v3 .ds_bttn.ds_googleplus {
      background-color: #da4638; }
    .ds_wrapper.ds_icon_v3 .ds_bttn.ds_pinterest {
      background-color: #bd081c; }
    .ds_wrapper.ds_icon_v3 .ds_bttn:hover {
      opacity: 0.8; }
    .ds_wrapper.ds_icon_v3 .ds_bttn a i {
      color: #fff; }
    .ds_wrapper.ds_icon_v3 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_icon_v4 .ds_bttn {
    box-shadow: 1px 1px 1px 1px #c5c5c5; }
    .ds_wrapper.ds_icon_v4 .ds_bttn:hover {
      background-color: #c5c5c5;
      opacity: 0.8; }
    .ds_wrapper.ds_icon_v4 .ds_bttn.ds_facebook a i {
      color: #4367b1; }
    .ds_wrapper.ds_icon_v4 .ds_bttn.ds_twitter a i {
      color: #1fa0f3; }
    .ds_wrapper.ds_icon_v4 .ds_bttn.ds_linkedin a i {
      color: #0277b5; }
    .ds_wrapper.ds_icon_v4 .ds_bttn.ds_googleplus a i {
      color: #da4638; }
    .ds_wrapper.ds_icon_v4 .ds_bttn.ds_pinterest a i {
      color: #bd081c; }
    .ds_wrapper.ds_icon_v4 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_icon_v5 .ds_bttn {
    box-shadow: inset 1px 1px 1px 1px #c5c5c5;
    border-radius: 100%; }
    .ds_wrapper.ds_icon_v5 .ds_bttn:hover {
      background-color: #c5c5c5;
      opacity: 0.8; }
    .ds_wrapper.ds_icon_v5 .ds_bttn.ds_facebook a i {
      color: #4367b1; }
    .ds_wrapper.ds_icon_v5 .ds_bttn.ds_twitter a i {
      color: #1fa0f3; }
    .ds_wrapper.ds_icon_v5 .ds_bttn.ds_linkedin a i {
      color: #0277b5; }
    .ds_wrapper.ds_icon_v5 .ds_bttn.ds_googleplus a i {
      color: #da4638; }
    .ds_wrapper.ds_icon_v5 .ds_bttn.ds_pinterest a i {
      color: #bd081c; }
    .ds_wrapper.ds_icon_v5 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_icon_v6 .ds_bttn {
    border-radius: 100%;
    background-color: #c5c5c5; }
    .ds_wrapper.ds_icon_v6 .ds_bttn:hover {
      background-color: #f7f7f7; }
      .ds_wrapper.ds_icon_v6 .ds_bttn:hover a i {
        color: #000;
        transition: all 1s; }
    .ds_wrapper.ds_icon_v6 .ds_bttn a i {
      color: #fff; }
    .ds_wrapper.ds_icon_v6 .ds_bttn a span.ds_network_name {
      display: none; }
  .ds_wrapper.ds_icon_v7 .ds_bttn:hover {
    opacity: 0.8; }
  .ds_wrapper.ds_icon_v7 .ds_bttn a span.ds_network_name {
    display: none; }
  .ds_wrapper.ds_icon_v8 .ds_heading {
    line-height: 2em; }
  .ds_wrapper.ds_icon_v8 .ds_bttn {
    padding: 0 10px;
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    width: auto; }
    .ds_wrapper.ds_icon_v8 .ds_bttn a i {
      color: #333; }
    .ds_wrapper.ds_icon_v8 .ds_bttn a span.ds_network_name {
      line-height: 20px;
      font-size: 0.8em;
      margin-left: .4em; }
  .ds_wrapper.ds_text_v1 .ds_bttn {
    width: auto; }
    .ds_wrapper.ds_text_v1 .ds_bttn a {
      display: inline;
      padding: 4px 8px;
      color: #fff;
      font-size: 0.8em;
      transition: all 1s; }
      .ds_wrapper.ds_text_v1 .ds_bttn a:hover {
        color: #000;
        opacity: 0.8; }
      .ds_wrapper.ds_text_v1 .ds_bttn a i {
        display: none; }
    .ds_wrapper.ds_text_v1 .ds_bttn.ds_facebook a {
      background-color: #4367b1; }
    .ds_wrapper.ds_text_v1 .ds_bttn.ds_twitter a {
      background-color: #1fa0f3; }
    .ds_wrapper.ds_text_v1 .ds_bttn.ds_linkedin a {
      background-color: #0277b5; }
    .ds_wrapper.ds_text_v1 .ds_bttn.ds_googleplus a {
      background-color: #da4638; }
    .ds_wrapper.ds_text_v1 .ds_bttn.ds_pinterest a {
      background-color: #bd081c; }
  .ds_wrapper.ds_text_v2 .ds_bttn {
    width: auto; }
    .ds_wrapper.ds_text_v2 .ds_bttn a {
      display: inline;
      padding: 4px 8px;
      color: #000;
      background-color: #c5c5c5;
      font-size: 0.8em;
      transition: all 1s; }
      .ds_wrapper.ds_text_v2 .ds_bttn a:hover {
        color: #fff;
        opacity: 0.8; }
      .ds_wrapper.ds_text_v2 .ds_bttn a i {
        display: none; }

@media screen and (max-width: 600px) {
  .ds_wrapper.ds_image_v1 .ds_bttn {
    height: 24px;
    width: 24px; }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_facebook {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_facebook.svg"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_twitter {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_twitter.svg"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_linkedin {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_linkedin.svg"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_googleplus {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_googleplus.svg"); }
    .ds_wrapper.ds_image_v1 .ds_bttn.ds_pinterest {
      background-image: url("/wp-content/plugins/drim-share/public/assets/ds_pinterest.svg"); }
  .ds_wrapper.ds_text_v1 .ds_bttn a i {
    display: inherit; }
  .ds_wrapper.ds_text_v1 .ds_bttn a span {
    display: none; }
  .ds_wrapper.ds_text_v2 .ds_bttn a i {
    display: inherit; }
  .ds_wrapper.ds_text_v2 .ds_bttn a span {
    display: none; }
  .ds_wrapper.ds_icon_v8 .ds_bttn a span {
    display: none; }
  .ds_wrapper .ds_heading {
    display: none; } }

/*# sourceMappingURL=drim-share.css.map */
