.ds_wrapper {

  .ds_bttn {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    transition: $ds__bttn_transition;


    a {
      text-decoration: none;
      box-shadow: none;
      text-transform: capitalize;
      border-bottom: 0 none;
      display: block;
      width: 100%;
      height: 100%;

      svg {
        position: relative;
      }

      &:hover {
        text-decoration: none;
        box-shadow: none;
        border-bottom: 0 none;
      }

    }
  }

  @for $i from 1 through 10 {
    @each $set in _icon, _text {
      &.ds#{$set}_v#{$i} {
        .ds_bttn {
          a {
            svg {
              &.icon {
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}
