.ds_wrapper {

  &.ds_icon_v1 {

    .ds_bttn {

      @include set_bg_colors($networks);

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v2 {

    .ds_bttn {
      border-radius: 100%;

      @include set_bg_colors($networks);

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v3 {

    .ds_bttn {
      padding: 0 10px;
      border-radius: 4px;
      width: auto;

      @include set_bg_colors($networks);

      a {
        transition: $ds__bttn_transition;

        span {

          &.ds_network_name {
            font-size: 0;
            color: #fff;
            transition: $ds__bttn_transition;
          }
        }

        &:hover {

          svg {
            margin-right: 5px;
          }

          span {

            &.ds_network_name {
              font-size: $ds_font__smaller;
            }
          }
        }
      }
    }
  }

  &.ds_icon_v4 {

    .ds_bttn {
      background-color: #fff;
      box-shadow: 1px 1px 1px 1px #c5c5c5;

      &:hover {
        background-color: #c5c5c5;
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          @include set_svg_colors($networks);
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v5 {

    .ds_bttn {
      background-color: #fff;
      box-shadow: inset 1px 1px 1px 1px #c5c5c5;
      border-radius: 100%;

      &:hover {
        background-color: #c5c5c5;
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          @include set_svg_colors($networks);
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v6 {

    .ds_bttn {
      background-color: #fff;
      box-shadow: 1px 1px 1px 1px #c5c5c5;
      border-radius: 4px;
      width: auto;

      &:hover {
        background-color: #c5c5c5;
        opacity: $ds__bttn_opacity;
      }

      a {
        padding: 0 10px;
        transition: $ds__bttn_transition;

        svg {

          @include set_svg_colors($networks);
        }

        span {

          &.ds_network_name {
            font-size: 0;
            color: #fff;
            transition: $ds__bttn_transition;
          }
        }

        &:hover {

          svg {
            margin-right: 5px;
          }

          span {

            &.ds_network_name {
              font-size: $ds_font__smaller;
              color: #333;
            }
          }
        }
      }
    }
  }

  &.ds_icon_v7 {

    .ds_bttn {
      background-color: #c5c5c5;

      &:hover {
        background-color: #f7f7f7;

        a {

          svg {

            &.icon {
              fill: #333;
            }
          }
        }
      }

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v8 {

    .ds_bttn {
      border-radius: 100%;
      background-color: #c5c5c5;

      &:hover {
        background-color: #f7f7f7;

        a {

          svg {

            &.icon {
              fill: #333;
            }
          }
        }
      }

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v9 {

    .ds_bttn {

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          &.icon {
            fill: #333;
          }
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v10 {

    .ds_bttn {

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {
          @include set_svg_colors($networks);
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }
}




@media screen and (max-width: $ds_screen__small) {
  .ds_wrapper {


  }
}
