.ds_wrapper {

  &.ds_icon_v1 {

    .ds_bttn {

      @include set_bg_colors($networks);

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        i {
          color: #fff;
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v2 {

    .ds_bttn {
      padding: 0 10px;
      border-radius: 4px;
      width: auto;

      @include set_bg_colors($networks);

      a {
        transition: $ds__bttn_transition;

        i {
          color: #fff;
          width: 24px;
        }

        span {

          &.ds_network_name {
            font-size: 0;
            color: #fff;
            transition: $ds__bttn_transition;
          }
        }

        &:hover {

          span {

            &.ds_network_name {
              font-size: $ds_font__smaller;
            }
          }
        }
      }
    }
  }

  &.ds_icon_v3 {

    .ds_bttn {
      border-radius: 100%;

      @include set_bg_colors($networks);

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        i {
          color: #fff;
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v4 {

    .ds_bttn {
      box-shadow: 1px 1px 1px 1px #c5c5c5;

      &:hover {
        background-color: #c5c5c5;
        opacity: $ds__bttn_opacity;
      }

      @include set_icon_colors($networks);

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v5 {

    .ds_bttn {
      box-shadow: inset 1px 1px 1px 1px #c5c5c5;
      border-radius: 100%;

      &:hover {
        background-color: #c5c5c5;
        opacity: $ds__bttn_opacity;
      }

      @include set_icon_colors($networks);

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v6 {

    .ds_bttn {
      border-radius: 100%;
      background-color: #c5c5c5;

      &:hover {
        background-color: #f7f7f7;

        a {

          i {
            color: #000;
            transition: $ds__bttn_transition;
          }
        }
      }

      a {

        i {
          color: #fff;
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v7 {

    .ds_bttn {

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_icon_v8 {

    .ds_heading {
      line-height: 2em;
    }

    .ds_bttn {
      padding: 0 10px;
      border: 1px solid #c5c5c5;
      border-radius: 12px;
      width: auto;

      a {

        i {
          color: #333;
          width: 24px;
        }

        span {


          &.ds_network_name {
            line-height: 20px;
            font-size: $ds_font__smaller;
            margin-left: .4em;
          }
        }
      }
    }
  }
}




@media screen and (max-width: $ds_screen__small) {
  .ds_wrapper {

    &.ds_icon_v8 {

      .ds_bttn {

        a {

          span {
            display: none;
          }
        }
      }
    }
  }
}
