.ds_bttn {

  // themes: icon and background colors
  &.ds_default {

    @include make_this_color(#fff);
    @include set_bg_colors(networks);
  }

  &.ds_shadow {
    @include set_svg_colors(networks);
    @include set_text_colors($networks);
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #c5c5c5;
  }

  &.ds_shadow_inset {
    @include set_svg_colors(networks);
    @include set_text_colors($networks);
    background-color: #fff;
    box-shadow: inset 1px 1px 1px 1px #c5c5c5;
  }

  &.ds_grey {
    background-color: #c5c5c5;
  }

  &.ds_grey_default {
    @extend .ds_grey;
    @include set_svg_colors(networks);
    @include set_text_colors($networks);
  }

  &.ds_grey_white {
    @extend .ds_grey;

    svg.icon {
      fill: #fff;
    }

    span.ds_network_name {
      color: #fff;
    }
  }

  &.ds_grey_black {
    @extend .ds_grey;
    @include make_this_color(#fff);
  }

  &.ds_black {
    @include make_this_color(#fff);
    background-color: #000;
  }

  &.ds_white {
    @include make_this_color(#000);
    background-color: #fff;
  }

  &.ds_nobg {
    background-color: transparent;
  }

  &.ds_nobg_default {
    @extend .ds_nobg;
    @include set_svg_colors($networks);
    @include set_text_colors($networks);
  }

  &.ds_nobg_white {
    @extend .ds_nobg;
    @include make_this_color(#fff);
  }

  &.ds_nobg_black {
    @extend .ds_nobg;
    @include make_this_color(#000);
  }

}
