.ds_wrapper {

  &.ds_image_v1 {

    .ds_heading {
      line-height: 2em;
    }

    .ds_bttn {
      width: 2em;
      height: 2em;

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          &.icon {
            width: 2em;
            height: 2em;
          }
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_image_v2 {

    .ds_heading {
      line-height: 2em;
    }

    .ds_bttn {
      width: 2em;
      height: 2em;

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          &.icon {
            width: 2em;
            height: 2em;
            fill: none;
            stroke: #000;
            stroke-width: 4;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
          }
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_image_v3 {

    .ds_heading {
      line-height: 2em;
    }

    .ds_bttn {
      width: 2em;
      height: 2em;

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          &.icon {
            width: 2em;
            height: 2em;
            fill: none;
            stroke-width: 4;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;

            @include set_svg_skroke_colors($networks);
          }
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

  &.ds_image_v4 {

    .ds_heading {
      line-height: 2em;
    }

    .ds_bttn {
      width: 2em;
      height: 2em;

      &:hover {
        opacity: $ds__bttn_opacity;
      }

      a {

        svg {

          &.icon {
            width: 2em;
            height: 2em;
          }
        }

        span {

          &.ds_network_name {
            display: none;
          }
        }
      }
    }
  }

}
