.ds_wrapper {

  &.ds_text_v1 {

    .ds_bttn {
      width: auto;

      a {
        display: inline;
        padding: 4px 8px;
        color: #fff;
        font-size: $ds_font__smaller;
        transition: $ds__bttn_transition;

        &:hover {
          color: #000;
          opacity: $ds__bttn_opacity;
        }

        i {
          display: none;
        }

      }

      @include set_bg_colors($networks);

    }
  }

  &.ds_text_v2 {

    .ds_bttn {
      width: auto;
      background-color: #c5c5c5;

      a {
        display: inline;
        padding: 4px 8px;
        color: #000;
        font-size: $ds_font__smaller;
        transition: $ds__bttn_transition;

        &:hover {
          color: #fff;
          opacity: $ds__bttn_opacity;
        }

        i {
          display: none;
        }

      }
    }
  }
}

@media screen and (max-width: $ds_screen__small) {
  .ds_wrapper {

    &.ds_text_v1 {

      .ds_bttn {

        a {

          i {
            display: inherit;
          }

          span {
            display: none;
          }
        }
      }
    }

    &.ds_text_v2 {

      .ds_bttn {

        a {

          i {
            display: inherit;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}
