@media screen and (max-width: 720px) {
  .ds_container {

    &.hide_on_mobie {
      display: none;
    }

    .ds_wrapper {

      &:not(.ds_in_content) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
        border-bottom-width: 0;
        padding: 6px;
        background-color: rgba(255,255,255,0.95);
        z-index: 9999;
        grid-gap: 6px;
        grid-template-columns: repeat(10, auto);

        .ds_bttn {
          margin: 0;
        }
      }
    }

    &.ds_container_full {

      .ds_wrapper {

        &:not(.ds_in_content) {
          grid-template-columns: repeat(10, 1fr);
          grid-gap: 0;
          padding: 0;
          border-top-width: 0;
          border-bottom-width: 0;

          .ds_bttn {
            width: auto;
            border-radius: 0;

            &.ds_text {

              a {

                svg {

                  &.icon {
                    display: inline;
                  }
                }

                span {

                  &.ds_network_name {
                    display: none;
                  }
                }
              }
            }

            &.ds_mixed {
              width: auto;

              a {

                div {

                  &.anchor-grid {
                    grid-template-columns: 1fr;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
