// =============================================================================
// social network button background colors, icon coors and backgrond images
// =============================================================================

$networks: facebook twitter linkedin googleplus pinterest whatsapp;
$network-colors: (
	facebook: #4367b1,
	twitter: #1fa0f3,
	linkedin: #0277b5,
	googleplus: #da4638,
	pinterest: #bd081c,
	whatsapp: #06e676
);

@mixin set_bg_colors($network) {
	@each $network in $networks {
		&.ds_#{$network} {
			background-color: map-get($network-colors, $network);
		}
	}
}

@mixin set_text_colors($network) {
	@each $network in $networks {
		&.ds_#{$network} {
			a {
				span {
					&.ds_network_name {
						color: map-get($network-colors, $network);
					}
				}
			}
		}
	}
}

@mixin set_svg_colors($network) {
	@each $network in $networks {
		&.ds_#{$network} {
			svg {
				&.icon {
					fill: map-get($network-colors, $network);
				}
			}
		}
	}
}

@mixin make_this_color($color) {

	svg {

		&.icon {
			fill: $color;
		}
	}

	span {

		&.ds_network_name {
			color: $color;
		}
	}
}
