$ds__border_padding: 10px;
$ds__bttn_transition: all 1s;
$ds__bttn_opacity: 0.8;

$ds_font__smaller: 0.8em;

$ds_color__facebook: #4367b1;
$ds_color__twitter: #1fa0f3;
$ds_color__linkedin: #0277b5;
$ds_color__googleplus: #da4638;
$ds_color__pinterest: #bd081c;
