@media screen and (max-width: 720px) {
  .ds_wrapper {

    &.hide_on_mobie {
      display: none;
    }

    &.ds_in_content {
      grid-template-columns: repeat(11, auto);

      .ds_heading {
        display: none;
      }

      .ds_bttn {

        a {
          display: inline;

          svg {

            &.icon {
              display: inline;
            }
          }

          span {

            &.ds_network_name {
              display: none;
            }
          }
        }

        &.ds_mixed {
          width: 2em;

          a {

            div {

              &.anchor-grid {
                align-items: center;
                justify-items: center;
              }

              span {

                &.anchor-item {

                  &:nth-child(2){
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}