/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /*** Drim Share admin options page styles ***/

 #adminmenu .toplevel_page_drim_share_options .dashicons-before:before {
   color: #0173a9;
   transform: rotate(90deg);
 }

.ds_part_left > form > p:not(.submit) {
 box-sizing: border-box;
 background-color: #23282e;
 color: #fff;
 font-weight: 700;
 margin-bottom: 0;
 padding: 10px 20px;
 max-width: 700px;
 border-bottom: 2px solid #fff;
}
.ds_part_left .form-table {
 background-color: #23282e;
 color: #fff;
 max-width: 700px;
 margin-top: 0;
}
.ds_part_left .form-table tr {
 border-bottom: 1px solid #fff;
}
.ds_part_left .form-table tr th {
 padding-left: 20px;
 color: #fff;
}
.ds_part_left p.description {
 color: #999;
}
.ds_part_left h2 {
margin-top: 60px;
}
.ds_part_left h2:first-of-type {
margin-top: 1em;
}
@media screen and (max-width: 782px) {
  .ds_part_left .form-table td {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.set_open {
  cursor: pointer;
}
.ds_icon_set {
  position: fixed;
  top: 32px;
  left: 160px;
  height: calc( 100% - 32px );
  padding: 40px 20px;
  background-color: #c5c5c5;
  overflow: scroll;
  z-index: 40;
}
.ds_icon_set img {
  max-width: 100%;
}
.set_close {
  position: fixed;
  top: 60px;
  right: 0;
  padding: 10px;
  background-color: #23282e;
  cursor: pointer;
}
.set_close svg {
  fill: #fff;
}
.set_open.small-icon svg,
.set_close.small-icon svg {
  width: 2em;
  height: 2em;
}

.ds_part_right {
max-width: 300px;
background: #fff;
padding: 20px;
z-index: 2;
}
@media screen and (min-width: 1260px) {
 .ds_part_right {
   position: fixed;
   top: 60px;
   right: 20px;
 }
}
.highlight_red {
 color: #ff0000;
}
.demo-icon.highlight_big {
 font-size: 1.5em;
}
.content-icon.ds_icon.icon-whatsapp {
 font-size: 1.25em;
 font-weight: 700;
 color: #06e676;
}
.no_decoration,
.no_decoration:hover {
 text-decoration: none;
}

.separator {
 margin-top: 40px;
 margin-bottom: 20px;
}
.small-icon svg {
  width: 1em;
  height: 1em;
  margin: 0 5px;
  vertical-align: middle;
}
.medium-icon svg {
  width: 3em;
  height: 3em;
  margin: 0 10px;
  vertical-align: middle;
}
.no_margin_bottom {
 margin-bottom: 0;
}
.ds_hidden {
 display: none;
}
.ds_hidden.ds_active {
 display: inherit;
}
.onoff {
font-weight: 700;
}
.ds_disabled {
color: #f00;
}
.ds_enabled {
color: #008000;
}

.ds_wrapper {
font-size: 16px;
}
#ds_example.ds_type_image {
  display: none;
}
#ds_example,
#ds_example_mobile {
grid-template-columns: repeat(6,auto);
}
